<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bushro.message.mapper.MessageConfigValueMapper">

    <select id="listByConfidIds" resultType="com.bushro.message.entity.MessageConfigValue">
        SELECT ID as id, KEY_NAME as keyName, VALUE value, CONFIG_ID configId, TENANT_ID as tenantId,
         CREATE_TIME as createTime, UPDATE_TIME as updateTime
        FROM MESSAGE_CONFIG_VALUE
       WHERE CONFIG_ID in
        <foreach collection="configIds" separator="," item="configId" open="(" close=")">
         #{configId}
       </foreach>
    </select>

    <select id="pageConfig" parameterType="com.bushro.message.form.QueryConfigForm" resultType="com.bushro.message.vo.ConfigVo">
        select
            t2.CONFIG_ID as configId,
            t2.CONFIG_NAME as configName,
            t1.KEY_NAME as 'key',
            t1.VALUE as value
        from
            message_config_value t1
            left join message_config t2 on
            t2.CONFIG_ID = t1.CONFIG_ID
        where t2.PLATFORM = #{query.platform}
        <if test="null != query.configName and '' != query.configName">
             and t2.CONFIG_NAME = #{query.configName}
        </if>
    </select>
</mapper>
