<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssa.web.message.mapper.MessageConfigValueMapper">

    <select id="listByConfidIds" resultType="ssa.web.message.entity.MessageConfigValue">
        SELECT ID as id, KEY_NAME as keyName, VALUE value, CONFIG_ID configId, TENANT_ID as tenantId,
         CREATE_TIME as createTime, UPDATE_TIME as updateTime
        FROM MESSAGE_CONFIG_VALUE
       WHERE CONFIG_ID in
        <foreach collection="configIds" separator="," item="configId" open="(" close=")">
         #{configId}
       </foreach>
    </select>
</mapper>
